.body{
  background-color: gainsboro;
  font-family:'Courier New', Courier, monospace;
}

.wrapper {
  margin: 0 auto;
}

.description, .lang-tip, .title {
  text-align: center;
}

.textarea {
  display: block;
  width: 700px;
  height: 200px;
  margin: 10px auto 10px;
  padding: 10px;
  font-size: 18px;
}

.keyboard {
  width: 704px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 0;
  padding-bottom: 0;
  background: #888888;
  border: 3px solid #222222;
  border-radius: 5px;
}

.keyboard .row {
  clear: both;
  width: 100%;
  height: 40px;
  margin-bottom: 8px
}

.keyboard .key {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
  color: #222222;
  background-color: #fbfeff9c;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  transition: border-radius 0.3s, background-color 0.3s
}

.keyboard .key:hover {
  background: #bec5c5;
}

.keyboard .key:active {
  background-color: #7eb9cc;
  border-radius: 9px;
}

.keyboard .AltLeft,
.keyboard .AltRight,
.keyboard .ArrowUp,
.keyboard .ArrowLeft,
.keyboard .ArrowDown,
.keyboard .ArrowRight,
.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .ControlLeft,
.keyboard .ControlRight,
.keyboard .Delete,
.keyboard .Enter,
.keyboard .ShiftLeft,
.keyboard .ShiftRight,
.keyboard .Tab,
.keyboard .MetaLeft {
  font-weight: 600;
  background-color: #bec2c4;
}

.keyboard .Tab {
  width: 50px
}

.keyboard .Backspace,.keyboard .CapsLock,.keyboard .ShiftLeft {
  width: 100px
}

.keyboard .Delete {
  width: 44px
}

.keyboard .Enter,.keyboard .ShiftRight {
  width: 86px
}

.keyboard .Space {
  width: 330px
}


.caseDown,
.caseUp,
.shiftCaps,
.caps {
  display: block;
  width: 100;
  min-height: 40px
}

.hidden {
  display: none;
}